@font-face {
  font-family: thewitcher-medium;
  src: url(thewitcher-font/Thewitcher-jnOj.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* a {
  text-decoration: none;
}

body {
  background-color: #101010;
  margin: 0;
  font-family: thewitcher-medium;
  height: 400vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #540e0e;
}

.anim-body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.anim-body .fog-anim {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") repeat-x;
  background-size: 200% auto;
  background-position: 0 bottom;
  -webkit-animation: fogAnim 60s;
          animation: fogAnim 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-body .fog-anim .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  margin: 40px 0;
  color: rgba(214, 214, 214, 0.686);
  width: 100%;
}

.anim-body .fog-anim .navbar .logo {
  margin-left: 70px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.anim-body .fog-anim .navbar .logo h2 {
  letter-spacing: 1px;
  color: rgba(214, 214, 214, 0.686);
}

.anim-body .fog-anim .navbar .logo p {
  color: #540e0e;
}

.anim-body .fog-anim .navbar .logo::after {
  content: '';
  height: 1px;
  width: 65%;
  background: rgba(214, 214, 214, 0.686);
  position: absolute;
  bottom: -8px;
}

.anim-body .fog-anim .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

.anim-body .fog-anim .navbar ul li {
  cursor: pointer;
  padding: 0 30px;
  font-size: 16px;
}

.anim-body .fog-anim .navbar ul li a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(214, 214, 214, 0.686);
}

.anim-body .fog-anim .navbar ul a:hover {
  color: #540e0e;
}

.anim-body .fog-anim #jasio {
  position: absolute;
  bottom: 0%;
  left: 40%;
  -webkit-transform: translateX(-420%);
          transform: translateX(-420%);
  -webkit-animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
          animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
  z-index: -1;
}

.anim-body .fog-anim #bj {
  position: absolute;
  opacity: 0.05;
  width: 100%;
  z-index: -5;
  height: 70%;
  bottom: 0;
}

.film-section {
  height: 100vh;
}

.story-section {
  height: 100vh;
}

.contact-section {
  height: 100vh;
}

@-webkit-keyframes fogAnim {
  0% {
    background-position: 200% bottom;
  }
  100% {
    background-position: 0% bottom;
  }
}

@keyframes fogAnim {
  0% {
    background-position: 200% bottom;
  }
  100% {
    background-position: 0% bottom;
  }
}

@-webkit-keyframes comein {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comein {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */