@font-face {
  font-family: thewitcher-medium;
  src: url(thewitcher-font/Thewitcher-jnOj.ttf);
}

//Colors

$Red: rgb(84, 14, 14);
$White: rgba(214, 214, 214, 0.686);
$Black: rgb(16, 16, 16);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  a {
    text-decoration: none;
  }
}

body {
  background-color: $Black;
  margin: 0;
  font-family: thewitcher-medium;
  height: 400vh;
  overflow: hidden;
}

.bj {
  position: absolute;
  opacity: 0.05;
  width: 100%;
  z-index: -5;
  height: 70%;
  bottom: 0;
}

.comein {
  animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(16, 16, 16);
}

::-webkit-scrollbar-thumb {
  background: $Red;
}
.anim-body {
  width: 100%;
  height: 100vh;
  position: relative;

  .fog-anim {
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    bottom: 0;
    background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png')
      repeat-x;
    background-size: 200% auto;
    background-position: 0 bottom;
    animation: fogAnim 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    .navbar {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      position: fixed;
      margin: 40px 0;
      color: $White;
      width: 100%;
      z-index: 100;

      .logo {
        margin-left: 70px;
        font-size: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        cursor: pointer;

        h2 {
          letter-spacing: 1px;
          color: $White;
        }

        p {
          color: $Red;
        }
      }

      .logo::after {
        content: '';
        height: 1px;
        width: 65%;
        background: $White;
        position: absolute;
        bottom: -8px;
      }

      ul {
        display: flex;
        list-style: none;
        align-items: center;
        margin-right: 70px;

        li {
          cursor: pointer;
          padding: 0 30px;
          font-size: 18px;

          a {
            text-decoration: none;
            transition: 0.5s;
            color: $White;
          }
        }

        a:hover {
          color: $Red;
        }
      }
    }
    #jasio {
      position: absolute;
      bottom: 0%;
      left: 33%;
      transform: translateX(-420%);
      animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
      z-index: -1;
    }

    #kamil {
      position: absolute;
      z-index: -3;

      right: 33%;
      bottom: -5%;
      transform: translateX(400%);
      animation: comeinkamil 4s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
    }
  }
}

.film-section {
  height: 100vh;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 72px;
    color: $White;
    transition: 0.5s;
    cursor: pointer;
  }
  h1:hover {
    margin-bottom: 10px;
    color: $Red;
  }

  #left {
    transform: translateX(-400%);
  }

  #right {
    transform: translateX(400%);
  }

  .season {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 270px 100px;

    ul {
      list-style: none;

      li {
        color: $White;
        margin: 10px 0;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;
      }
      li:hover {
        color: $Red;
      }
    }
  }
}

.story-section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    transform: translateX(-400%);
    animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;

    iframe {
      border: 15px solid rgba(26, 26, 26, 0.686);
      border-radius: 15px;
    }
  }
}

.contact-section {
  height: 100vh;
  position: relative;

  footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
      color: $Red;
      margin: 0 50px;
    }
  }
}

@keyframes fogAnim {
  0% {
    background-position: 200% bottom;
  }
  100% {
    background-position: 0% bottom;
  }
}

@keyframes comein {
  to {
    transform: translateX(0);
  }
}

@keyframes comeinkamil {
  to {
    transform: translateX(0) scale(0.7);
  }
}

/* position: relative;
display: flex;
justify-content: center;
align-items: center;
.content {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  transform: translateX(-400%);
  //animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;

  iframe {
    border: 15px solid rgba(26, 26, 26, 0.686);
    border-radius: 15px;
  }
}


 h1 {
      font-size: 72px;
      margin: 0 100px;
      color: $White;
      transition: 0.5s;
      cursor: pointer;
    }
    h1:hover {
      margin-bottom: 15px;
      color: $Red;
    }
*/
