@font-face {
  font-family: thewitcher-medium;
  src: url(thewitcher-font/Thewitcher-jnOj.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* a {
  text-decoration: none;
}

body {
  background-color: #101010;
  margin: 0;
  font-family: thewitcher-medium;
  height: 400vh;
  overflow: hidden;
}

.bj {
  position: absolute;
  opacity: 0.05;
  width: 100%;
  z-index: -5;
  height: 70%;
  bottom: 0;
}

.comein {
  -webkit-animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
          animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #540e0e;
}

.anim-body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.anim-body .fog-anim {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") repeat-x;
  background-size: 200% auto;
  background-position: 0 bottom;
  -webkit-animation: fogAnim 60s;
          animation: fogAnim 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-body .fog-anim .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  margin: 40px 0;
  color: rgba(214, 214, 214, 0.686);
  width: 100%;
  z-index: 100;
  /*.logo::after {
        content: '';
        height: 1px;
        width: 65%;
        background: $White;
        position: absolute;
        bottom: -8px;
      }*/
}

.anim-body .fog-anim .navbar .logo {
  margin-left: 70px;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.anim-body .fog-anim .navbar .logo h2 {
  letter-spacing: 1px;
  color: rgba(214, 214, 214, 0.686);
}

.anim-body .fog-anim .navbar .logo p {
  color: #540e0e;
}

.anim-body .fog-anim .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

.anim-body .fog-anim .navbar ul li {
  cursor: pointer;
  padding: 0 30px;
  font-size: 18px;
}

.anim-body .fog-anim .navbar ul li a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(214, 214, 214, 0.686);
}

.anim-body .fog-anim .navbar ul a:hover {
  color: #540e0e;
}

.anim-body .fog-anim #jasio {
  position: absolute;
  bottom: 0%;
  left: 33%;
  -webkit-transform: translateX(-420%);
          transform: translateX(-420%);
  -webkit-animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
          animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
  z-index: -1;
}

.anim-body .fog-anim #kamil {
  position: absolute;
  z-index: -3;
  right: 33%;
  bottom: -5%;
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
  -webkit-animation: comeinkamil 4s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
          animation: comeinkamil 4s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
}

.film-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.film-section h1 {
  font-size: 72px;
  color: rgba(214, 214, 214, 0.686);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.film-section h1:hover {
  margin-bottom: 10px;
  color: #540e0e;
}

.film-section #left {
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
}

.film-section #right {
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
}

.film-section .season {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 270px 100px;
}

.film-section .season ul {
  list-style: none;
}

.film-section .season ul li {
  color: rgba(214, 214, 214, 0.686);
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.film-section .season ul li:hover {
  color: #540e0e;
}

.story-section {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.story-section .content {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 125px;
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
  -webkit-animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
          animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;
}

.story-section .content h2 {
  color: rgba(214, 214, 214, 0.686);
  margin-bottom: 20px;
}

.story-section .content iframe {
  border: 15px solid rgba(26, 26, 26, 0.686);
  border-radius: 15px;
}

.contact-section {
  height: 100vh;
  position: relative;
}

.contact-section footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section footer i {
  color: #540e0e;
  margin: 0 50px;
}

@-webkit-keyframes fogAnim {
  0% {
    background-position: 200% bottom;
  }
  100% {
    background-position: 0% bottom;
  }
}

@keyframes fogAnim {
  0% {
    background-position: 200% bottom;
  }
  100% {
    background-position: 0% bottom;
  }
}

@-webkit-keyframes comein {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comein {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes comeinkamil {
  to {
    -webkit-transform: translateX(0) scale(0.7);
            transform: translateX(0) scale(0.7);
  }
}

@keyframes comeinkamil {
  to {
    -webkit-transform: translateX(0) scale(0.7);
            transform: translateX(0) scale(0.7);
  }
}

/* position: relative;
display: flex;
justify-content: center;
align-items: center;
.content {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  transform: translateX(-400%);
  //animation: comein 2s cubic-bezier(0.82, 0.31, 0, 0.92) forwards;

  iframe {
    border: 15px solid rgba(26, 26, 26, 0.686);
    border-radius: 15px;
  }
}


 h1 {
      font-size: 72px;
      margin: 0 100px;
      color: $White;
      transition: 0.5s;
      cursor: pointer;
    }
    h1:hover {
      margin-bottom: 15px;
      color: $Red;
    }
*/
/*# sourceMappingURL=style.css.map */